// paleta de colores 
$color-superior: #d7e0dd; 
$color-menu:black;
$color-fondo:#e1ebe7;
$color-principal:#29bd99;
$color-borde:#333333;
$color-boton:#007bff;
$color-fondo-formulario:white;
$color-fondo-menu:#bdc9c4;
$color-li-active:#808583;

/*// variables usadas de boostrap
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
}
*/