@use "../utilidades/variables" as *;
/* aca hacemos un reset a los estilos predefinidos*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }

  /* estilos generales */
  body{
    background-color:$color-fondo;
  }
  /* aca modificamos los titulos de toda la pagina */
#noticias,#primer-titulo,.titulo-sobre-nosotros,.titulos-servicios,.titulos-tramites,#titulo-propuesta,#titulo-trabajo,#titulo-plan,#titulo-info,#servicios {
  color: var(--bs-success);
}

:root {
  color: var(--bs-secondary-color);
  color: var(--bs-warning);
  color: var(--bs-info);
  color: var(--bs-success);
}
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
