@use "../utilidades/variables" as*;
@use "../utilidades/mixin" as*;
/* aca aplicamos la mediaquery para tablet */
@media screen and (min-width: 768px) {
  main {
    section{
      .seccion-contacto{
        padding: 40px 20px;
        .informacion-contacto{
          gap: 20px; 
        }
      }
    .contenedor-servicios {
/* aca aplicamos a las cajas del contenedor servicios del index */
      display: flex;
      .caja1,
      .caja2,
      .caja3,
      .caja4 {
        @include flex;
    }
  }
}
    .enlaces {
/* aca aplicamos al div del index */
      @include grid(grid, repeat(3, 1fr), repeat(2, 1fr), 25px);
      justify-items: center;
      margin: 40px;
    }

    #imagen-trabajando,
    #imagen-analizando {
/* aca modificamos las imagenes de la seccion propuesta y plan de trabajo */
      width: 100%;
      height: 400px;
    }
    #imagen-analizando {
      margin-top: 0;
    }

    .imagen-hombre {
      img {
/* Imagen lateral (hombre dando la mano) de la seccion contacto*/
        max-width: 100%;
        height: auto;
        padding-top: 20px;

      }
    }

    #titulo-propuesta {
      display: flex;
      justify-content: center;
    }

    .formulario {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 40px;
    }

    form {
      label, input, textarea {
        display: flex;
        margin: 10px 0;
      }
        
    }

    #correo-electronico {
      margin-top: 40px;
    }
  }
  .imagenes-grid {
/* aca modificamos la grilla de imagenes de la seccion servicios */
    @include grid(grid, repeat(3, 2fr), auto, 10px);
      grid-template-areas:
      "images5 images3 images3"
      "images1 images2 images2";

    .images1 { grid-area: images1; }
    .images2 { grid-area: images2; }
    .images3 { grid-area: images3; }
    .images5 { grid-area: images3; }
    
    img {
      width: 100%;
      height: auto;
    }
  
    .images1,
    .images2,
    .images3,
    .images5,
    .images6 {
      
      max-height: 150px;
      
    }
  }
  .footer {
    .contenedor {
/* aca modificamos el contenedor principal del footer */
      @include grid(grid, 1fr 1fr 1fr,2fr,10px);
      .contacto {
        font-size: 18px;
        display: inline-block;
        .nombres {
          font-size: 15px;
          display: inline-block;
          .suscribete {
/* aca modificamos el div suscribete del footer*/
            font-size: 18px;    
            .suscripcion {
/* aca modificamos el parrafo del div suscribete del footer */
              font-size: 14px;
  }
  }        
              .imagenes-pie-pagina {
/* aca modificamos las imagenes de las redes sociales del footer */
                display: block;      
    }     
    } 
    }
}
}
}
/* FOOTER: TEXTO FINAL (fuera de media query para que aplique siempre)*/
.derechos-reservados {
  margin-top: 0px;
}