@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* aca hacemos un reset a los estilos predefinidos */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    text-decoration: none;
  
}
:root{
  color:--bs-secondary-color;
  color:--bs-warning;
  color:--bs-info;
  color: --bs-secondary-color;
  color: --bs-success;
}
header {
    background-color:#d7e0dd;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: sticky;
    width: 100%;
}
/* aca modificamos los titulos de toda la pagina*/
#noticias, #primerTitulo, .tituloSobreNosotros, .titulosServicios, .titulosTramites, #tituloPropuesta, #tituloTrabajo, #tituloPlan, #tituloInfo, #servicios{
  color:var(--bs-success);
}
.etapa{
  color:var(--bs-success);
}
/* aca modificamos el menu de navegacion */
.menu ul {
  display: flex;
  list-style: none;
}
ul li{
  margin-top: 15px;
  
}
/* aca modificamos los li del menu de navegacion */
.menu li {
  margin: 0 30px;
} 
/* aca modificamos los (a) del menu de navegacion */
.menu a {
  color:black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600; 
  color:var(--bs-warning);

}
/* aca modificamos el body de la pagina*/
body{
  background-color: #e1ebe7;
}
/* aca modificamos las secciones en general*/
section{
  margin-left: 1%;
  margin-top: 3%;
}
/* aca modificamos los contenedores del index */
.caja1{
  display: inline-block;
  width: 300px;            /* Ancho de la caja */
  height: 150px;           /* Alto de la caja */
  background-color: #29BD99; /* Color de fondo */
  border: 3px solid #333333;  /* Borde con color */
  padding: 20px;           /* Espacio interno */
  margin: 3px;   /* Margen superior/inferior y centrado horizontal */
  box-shadow: 0 4px 8px 0;
  border-radius: 10px; 
}
.caja2{
    display: inline-block;
    width: 300px;            /* Ancho de la caja */
    height: 150px;           /* Alto de la caja */
    background-color: #29BD99; /* Color de fondo */
    border: 3px solid #333333;  /* Borde con color */
    padding: 20px;           /* Espacio interno */
    margin: 3px ;      /* Margen superior/inferior y centrado horizontal */
    box-shadow: 0 4px 8px 0;
    border-radius: 10px;  
}
.caja3{
  display: inline-block;
  width: 300px;            /* Ancho de la caja */
  height: 150px;           /* Alto de la caja */
  background-color: #29BD99; /* Color de fondo */
  border: 3px solid #333;   /* Borde con color */
  padding: 20px;           /* Espacio interno */
  margin: 3px;      /* Margen superior/inferior y centrado horizontal */
  box-shadow: 0 4px 8px 0;
  border-radius: 10px;
} 
.caja4{
  display: inline-block;
  width: 300px;            /* Ancho de la caja */
  height: 150px;           /* Alto de la caja */
  background-color: #29BD99; /* Color de fondo */
  border: 3px solid #333333;  /* Borde con color */
  padding: 20px;           /* Espacio interno */
  margin: 3px;       /* Margen superior/inferior y centrado horizontal */
  box-shadow: 0 4px 8px 0;
  border-radius: 10px;
} 
/* aca modificamos el div que contiene los links del inicio*/
.enlaces{
  display: grid;
  justify-items: center;
  grid-template-columns:repeat(1,1fr);
  grid-template-rows:repeat(6,1fr);
  gap: 25px;
  margin: 40px;
}
/* aca modificamos h2 del index */
#noticias{
  text-align: center;
}
/* aca modificamos el titulo servicios del index*/
#primerTitulo{
  display: flex;
  justify-content: center;

}
/* aca modificamos el las cajas del index */
.contenedorServicios{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content:center;
  flex-wrap: wrap; /* Para que no se rompa en pantallas chicas */
  gap: 30px;
  
}
/* aca modificamos el titulo h2 de la seccion sobre nosotros*/
.tituloSobreNosotros{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; 
}
/* aca hay un div que encierra varios parrafos en la seccion sobre nosotros*/
.textoExperiencia {
  display: flex;
  flex-direction: column; /* para que los <p> se apilen verticalmente */
  justify-content: center; /* centra verticalmente si hay altura */
  text-align: center; /* centra el texto dentro de los <p> */
  margin-bottom: 40px;
}
/* aca modificamos los parrafos del titulo sobre nosotros en la seccion sobre nosotros*/
.textoNosotros{
  display: flex;
  flex-direction: column; /* para que los <p> se apilen verticalmente */
  justify-content: center; /* centra verticalmente si hay altura */
  text-align: center; /* centra el texto dentro de los <p> */
}
/* aca modificamos el titulo h1 en la seccion servicios*/
#servicios{
  display: flex;
  justify-content: center;
}
/* aca modificamos la ul en la seccion servicios*/
.listaServicio{
  margin-bottom: 40px;
  
}
/* aca modificamos el subtitulo h2 en la seccion servicios*/
.titulosTramites{
  margin-bottom: 20px;
  text-align: center;
}
/* aca modificamos los stitulos tipos de servicios en la seccion servicios*/
.titulosServicios{
  display: flex;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
  justify-content: center;
}
/* aca modificamos las ul de tramites generales en la seccion servicios */
.tramitesGenerales ul{
  margin-bottom: 40px;
  list-style:none;
}
/* aca modificamos los videos 
.videos{
  display: grid;
  grid-template-columns:repeat(1,1fr) ;
  gap: 30px;
  justify-items: center;
  align-content: center;
  margin-bottom: 40px;
}
*/
/* aca modificamos las imagenes */
.imagenEnlaces{
  width: 200px;
}
.imagenInstagram{
  width: 40px;
  height: 40px;
}
.imagenwhattsapp{
  width: 40px;
  height: 40px;
}
.imagenTictoc{
  width: 40px;
  height: 40px;
}
footer .logo{
  display: block;
}
#imagenEdificio{
  width: 100%;
  height: 200px;
}
.logo{
  height: 90px;
}
#imagenTrabajando{
  width: 100%;
  height: 200px;
}
#imagenEscribiendo{
width: 100%;
height: 200px;
}
#imagenAnalizando{
margin-top: 0px;
width: 100%;
height:200px;
}
.imagenHombre{
  display: flex;
}
.imagenHombre img{
  width: 400px;     
  height: auto;      
}
.imagenHombre{
  display: none;
  margin: 0px;
  padding: 0px;
  height: 0px;
  
}
main img{
  width: 100%;
  height: 100px;
  object-fit: cover;
}
/* aca esta el logo de la empresa*/
header .logo {
  height: 90px;
}
/* aca modificamos el titulo principal de la seccion propuesta y plan de trabajo*/
#tituloPropuesta{
  display: flex;
  text-align: center;
}
/* aca modificamos el subtitulo  plan de trabajo de la seccion propuesta y plan de trabajo*/
#tituloPlan{
  text-align: center;
}
/* aca modificamos el div propuesta de la seccion propuesta y plan de trabajo*/
.propuesta{
  margin: 30px auto;
}
/* aca modificamos el div plan de trabajo de la seccion propuesta y plan de trabajo*/
.planDeTrabajo{
  margin: 40px;
}
/* aca modificamos el subtitulo  propuesta de trabajo de la seccion propuesta y plan de trabajo*/
#tituloTrabajo{
  margin-top:50px;
  text-align: center;
}
/* aca modificamos el titulo principal de la seccion info tips */
#tituloInfo{
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
/* aca modificamos el div de la seccion contacto*/
.informacionContacto{
    font-weight: 400;
    font-style: normal;
    color: var(--bs-secondary-color);
}
/* aca modificamos el contenedor principal de la seccion contacto*/
/*.seccionContacto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}*/
/* aca modificamos los titulos especificos de la seccion contacto*/
#contactenos,#telefono,#correoElectronico{
  margin: 10px auto;
}
  
/* aca modificamos el formulario de la seccion contacto */
.formulario{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;
  gap: 20px;
  margin-top:20px;
  margin-bottom: 20px;
}
input[type="text"],input[type="email"]{
  width: 90%;
  height: 40px;
}
textarea{
  width: 90%;
  height: 100px;
}
/* aca modificamos el contenedor principal del footer*/
.contenedor{
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr;
  grid-template-rows:150px;
  padding-left: 10px;
  color:var(--bs-secondary-color);
  margin-top: 10px;
}
/* aca modificamos las imagenes de redes del footer*/
.imagenesPiePagina{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 100% 30% ;
align-items: center; /* centra verticalmente */
justify-content:center;
margin-top: 20px;
margin-right: 50px;
margin-bottom: 0px;
margin-top: 10px;
}
/* aca modificamos el div suscribete del footer*/
.suscribete{
  display: flex;
  font-size: 18px;
  display: inline-block;
  padding-right: 100px;
  margin-top: 130px;
}
/* aca modificamos el div nombres del footer*/
.nombres{
  display: flex;
  font-size: 18px;
  display: inline;
  margin-top: 30px;
}
.celular{
  display: flex;
  display: inline-block;
}


/* aca modificamos el div nombres del footer*/
.footer{
  background-color: #d7e0dd;
}

/* aca modificamos el parrafo de la suscripcion*/
.suscripcion{
  font-size: 14px;
  margin-top: 30px;
}
/* aca modificamos el input de la suscripcion */
.input{
  display: flex;
  margin-top: 10px;
}
/* aca modificamos el boton enviar del formulario del footer */
.boton{
  display: flex;
  margin-left: 15px;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}
main .seccionContacto .informacionContacto .formulario .boton{
  margin-left: 0px;
  margin-top: 10px;
}
/* aca modificamos el div contacto del footer */
.contacto{
  display: flex;
  font-size: 18px;
  display: block;
}
/* aca modificamos el parrafo final del footer */
.derechosReservados{  
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}

/* aca modificamos el menu de navegacion utilizado con boostrap */
.bg-fondo{
  background-color: #d7e0dd;
}
#navbarNavDropdown{
  background-color: #bdc9c4;
}
header nav div div ul li :hover{
 background-color: #29BD99;
}
header nav div div ul li :active{
  background-color: #808583;
}


/* media query para tablet*/
@media screen and (min-width: 768px) {

  /* aca modificamos el las cajas del index */
  .contenedorServicios{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    gap: 30px;
    justify-items:center;
}
  /* aca modificamos el contenedor principal del footer*/
  .contenedor{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    column-gap:20px;
}
/* aca modificamos el div suscribete del footer*/
  .suscribete{
    display: flex;
    font-size: 18px;
    display: inline-block;
    padding-right: 40px;
    margin-top: 0px;
}
/* aca modificamos el div contacto del footer */
  .contacto{
    display: flex;
    font-size: 18px;
    display: inline-block;
    padding-left: 40px;
      
}
/* aca modificamos el parrafo de la suscripcion*/
.suscripcion{
  font-size: 14px;
}
/* aca modificamos el div que contiene los links del inicio*/
  .enlaces{
    display: grid;
    justify-items: center;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    gap: 20px;
    margin: 40px;
}
/* aca modificamos las imagenes */
  #imagenTrabajando{
    width: 100%;
    height: 500px;
  }
  #imagenAnalizando{
    margin-top: 0px;
    width: 100%;
    height:400px;
}
/* aca mostramos la imagen oculta en version mobile */
  .imagenHombre{
 display: block;

}
.imagenesPiePagina{
  display:flex;
  display: block;
}
/* aca modificamos el div nombres del footer*/
.nombres{
  display: flex;
  font-size: 15px;
  display: inline-block;
  margin-top: 0px;
}
/* aca modificamos los videos 
.videos{
  display: grid;
  grid-template-columns:repeat(2,1fr) ;
  grid-template-rows:400px 400px ;
  gap: 2px;
  justify-items: center;
  align-content: space-evenly;
}
*/
/* aca modificamos el titulo principal de la seccion propuesta y plan de trabajo*/
  #tituloPropuesta{
    display: flex;
    justify-content: center;
}

  /* aca modificamos el formulario de la seccion contacto */
  .formulario{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }
  form label,form input,form textarea {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* aca modificamos el subtitulo correooelectronico de la seccion contacto */
  #correoElectronico{
    margin-top: 40px;
  }

}
/* aca modificamos el parrafo final del footer */
.derechosReservados{  
  margin-top: 100px;
}


/* media query para pc */
@media screen and (min-width: 1024px) {
  header, #navbarNavDropdown{
    background-color: #d7e0dd;
}
 /* aca modificamos el las cajas del index */
.contenedorServicios{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap; /* Para que no se rompa en pantallas chicas */
    gap: 30px;
    
  }
  /* aca modificamos el contenedor enlaces del index */
  .enlaces{
  display: grid;
  justify-items: center;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(2,1fr);
  gap: 20px;
  margin: 40px;
}
/* aca modificamos el contenedor principal del footer*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items:center;
  margin-bottom: 0px;
  margin-top: 0px;
  
}
/* aca modificamos el titulo contacto del footer */
footer  div div div p{
  font-size: 20px;
}
/* aca modificamos el div suscribete del footer*/
.suscribete{
  margin-left: 30px;
  font-size: 18px;
}
/* aca modificamos el div contacto del footer */
.contacto{
  display: flex;
  font-size: 18px;
  display: inline-block;
  padding-left: 40px;
}
/* aca modificamos las imagenes*/
#imagenTrabajando{
  width: 100%;
  height: 500px;
}
#imagenAnalizando{
  margin-top: 0px;
  width: 100%;
  height:400px;
}
#imagenEscribiendo{
  width: 100%;
  height: 300px;
}
#imagenEdificio{
  width: 100%;
  height: 500px;
}
.imagenHombre{
  display: block;
  height: 500px;
  padding-top: 60px;
}
.imagenesPiePagina {
  display: flex;
  display: inline-block;
  margin-top: 40px;
}

.imagenesGrid {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:auto;
  
  grid-template-areas: 
    "images5 images3 images3"
    "images1 images2 images6";  
}
  .images1{
  grid-area:images1; 
}
  .images2{
  grid-area:images2; 
}
  .images3{
  grid-area:images3;
} 
  .images5{
  grid-area:images5; 
}
  .images6{
  grid-area:images6;
}
/* aca modificamos los videos 
.videos{
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  grid-template-rows:400px 400px ;
  margin: 50px;
  gap: 30px;
  justify-items: center;
  align-content: space-evenly;
}
*/
/* aca modificamos el margen del menu de navegacion*/
.bg-fondo{
background-color: #d7e0dd;
}
/* aca modificamos el div propuesta de la seccion propuesta y plan de trabajo*/
.propuesta{
  display: grid;
  grid-template-rows: 35px 35px 35px 35px 35px;

}
/* aca modificamos el div plan de trabajo de la seccion propuesta y plan de trabajo*/
.planDeTrabajo{
  margin-top: 70px;
  display: grid;
  grid-template-columns: .1fr 1fr .1fr 1fr;
  grid-template-rows:100px 200px;
  column-gap: 10px;
  row-gap: 2px;

}
/* aca modificamos el parrafo de la suscripcion*/
.suscripcion{
  display: flex;
  font-size: 15px;
  display: inline-block;
}
/* aca modificamos la ul en la seccion servicios*/
.listaServicio{
  margin-left: 14px;
  margin-bottom: 40px;
}
/* aca modificamos el formulario de la seccion contacto */
.formulario{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;
  gap: 10px;
  margin-top:20px;
}
/* aca modificamos el contenedor principal de la seccion contacto*/
  .seccionContacto{
    display: grid;
    justify-content: space-around;
    
  }
/* aca le damos estilo a la clase carousel de boostrap*/
.carousel{
  height: 300px;
}
/* aca modificamos el div nombres del footer*/
.nombres{
  display: flex;
  font-size: 15px;
  display: inline-block;
  margin-top: 30px;
}
/* aca modificamos el parrafo final del footer */
.derechosReservados{  
  margin-top: 0px;
}
/* aca modificamos el titulo contacto del footer */
footer  div div  h3 {
  font-size: 20px;
}

}